body {
    font-family: monospace;
    margin-left: 100px;
    margin-right: 100px;
    background-color: black;
    font-size: 15px;
}

.secondsection img {
    width: 200px; /* width of container */
    height: 200px; /* height of container */
    object-fit: cover;
}

button {
    background-color: #3882F6;
    color: antiquewhite;
    border-radius: 4px;
    border-style: solid;
    border-color: #3882F6;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;

}

/* first section of webpage */
/* re-sizing image */
.rose img{
    width: auto;
    height: 200px;
}
/* get rid of dots in list */
ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bold {
    font-weight: bold;
    font-size: 20px;
}

.firstsection {
    background-color: #1F2937;
    color:antiquewhite; 
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
    padding-left: 50px;
    padding-right: 50px;
}

.firstsectioncontent {
    display: flex;
    align-items: center;
    gap:200px;
    justify-content: space-between;
}

.welcome {
    font-size: 48px;
    font-weight: bold; 
}

