body {
    font-family: monospace;
    box-sizing: border-box;
}

.bold {
    font-weight: bold;
}

/*IMAGES*/
img {
    width: 200px; /* width of container */
    height: 200px; /* height of container */
    border-radius: 1rem;

}
.rose img{
    width: auto;
}

.secondsection img {
    object-fit: cover;
}

/* first section of webpage */

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome {
    font-size: 2rem;
    font-weight: bold; 
}

.life {
    font-size: 2.2rem;
}

section {
    background-color: #1F2937;
    color:antiquewhite; 
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

button {
    background-color: #3882F6;
    color: antiquewhite;
    border-radius: 4px;
    border-style: solid;
    border-color: #3882F6;
    font-weight: bold;
    padding: 5px 15px;
}

.words {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.firstsectioncontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* second section of webpage */
.secondsection {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.combo {
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


/* third section of webpage */
.thirdsection {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 3rem 1rem; 
    gap: 0.rem;
    
}

.quote{
    font-size: 36px;
    font-style: italic;
    max-width: 600px;
}

/*Fourth section*/

.fourthsection {
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    height: 50%;
    width: 50%;
    padding: 2rem;
    justify-content: center;
    align-items: center;
}

.fourthsection button {
    border-color: antiquewhite;
}

.vertical {
    background-color: #3882F6;
    border-radius: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
/*Footer section*/
.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    color: antiquewhite;
    padding: 1rem;
    font-size: 0.75rem;
}

@media all and (min-width: 480px) {
    .header {
        flex-direction: row;
    }

    .firstsectioncontent {
        flex-direction: row;
    }

    .words {
        gap: 20%;
    }

    .images {
        flex-wrap: wrap;
        flex-direction: row;
    }
}

@media all and (min-width: 700px) {
    .words {
        justify-content: space-around;
        max-width: 40%;
    }
    .header {
        width: 100%;
        justify-content: space-around;
    }
}
