body {
    font-family: monospace;
    box-sizing: border-box;
}

.header {
    display: flex;
}

section {
    background-color: #1F2937;
    color:antiquewhite; 
    padding: 1rem;
}

.rose img{
    width: auto;
    height: 200px;
}

.secondsection img {
    width: 200px; /* width of container */
    height: 200px; /* height of container */
    object-fit: cover;
}